<div class="tt">
  <div class="tt__blur-container">
    <div class="tt__app-bar">
      <h1>
        Home
      </h1>
      <a class="logo"></a>
    </div>
    <div class="tt__card">
      <header>
        <h1>
          Todos
        </h1>
      </header>
      <div class="content">
        <h2 *ngIf="todos$ | async as todos">
          You have {{ todos.length }} todos!
        </h2>
        <app-todo *ngFor="let todo of todos$ | async" [todo]="todo"></app-todo>
      </div>
    </div>
    <app-blogpost>
      <img src="https://via.placeholder.com/200x200">
      <h2>Very interesting topic</h2>
      <p>So much angular!</p>
      <p>So much wow!</p>
    </app-blogpost>
  </div>
</div>
